HolidayList.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Holiday">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Country" type="xs:string" />
              <xs:element minOccurs="0" name="HolidayCode" type="xs:string" />
              <xs:element minOccurs="0" name="Descriptor" type="xs:string" />
              <xs:element minOccurs="0" name="HolidayType" type="xs:string" />
              <xs:element minOccurs="0" name="DateType" type="xs:string" />
              <xs:element minOccurs="0" name="BankHoliday" type="xs:string" />
              <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
              <xs:element minOccurs="0" name="RelatedHolidayCode" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>